body {
    background-color: hsla(89, 43%, 51%, 0.3);
}

.recipes p {
    color: lightcoral;
    font-size: x-large;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 3px;
    margin-top: auto;
}

.rice h3,
.mint h3 {
    color: blue;
    margin-bottom: auto;
    margin: auto;

}

.recipes h1 {
    color: rgb(127, 165, 255);
    text-align: center;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.rice h1,
.mint h1 {
    color: brown;
    text-align: center;
    margin-bottom: auto;

}

img {
    display: block;
    margin: auto;
    width: auto;
    border-radius: 8%;
}

.recipes a {
    color: rgb(54, 181, 228);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}