/* Beautify the heading */
p {
    color: lightcoral;
    font-size: x-large;
    font-weight: 600;
    text-transform: capitalize;
}

h1 {
    color: aquamarine;
    text-align: center;
    background-color: blue;
}

.recipes {
    color: rgb(54, 181, 228);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}